#contact
    padding:
        top: 40px
        bottom: 40px
    width: 100%
    background: $c4
    color: $c1
    .section-content
        text-align: center
        font:
            family: $ff5
        .section-header
            .content-header
                color: $c7
                font:
                    size: $fs2
    .contact-section
        text-align:right
        padding:
            top: 30px
        .form-group
            margin:
                top: 10px
            .form-control
                background: $c1
    .submit
        font:
            family: $ff5
            size: $fs1
            weight: 300
            size: $fs3
        color: $c7
        background-color: transparent
        float: right
        width: 100ù
        &:hover
            color: $c1
        


