footer
    color: $c1
    background: $c3
    padding: 1rem 0
    text-align: center
    .logo
        font:
            family: $ff3
            size: $fs3
            weight: 500
        span
            color: $c7
            font:
                size: $fs2
    .social-links
        margin: 0 0
        font:
            size: $fs2
        li
            margin: 0.35rem
            display: inline-block
        .icon
            -webkit-transition: 0.9s all
            transition: 0.7s all
            &:hover
                color: $c1
                transform: scale(1.2) rotate(360deg)
        .fa-twitter
            color: #1da1f2
        .fa-facebook
            color: #1877f2
        .fa-instagram
            color: #c32aa3
        .fa-snapchat
            color: #fffc00
        .fa-github
            color: #f5f5f5
        .fa-linkedin-in
            color: #0a66c2
        .fa-twitch
            color: #9146ff
        .fa-pinterest
            color: #bd081c
        .fa-deviantart
            color: #05cc47
        
    .copyright
        padding-top: 0.5rem
        margin-top: 0.5rem
        margin-bottom: 0.5rem
        .fas
            color: $c8
        