.navbar
    background: $c3
    padding: 1rem 0
    .navbar-brand
        font:
            family: $ff3
            size: $fs5
        color: $c7
        &:hover
            color: $c1
    .navbar-toggler
        background-color: $c3
        border:
            width: 0.1px
            color: $c2
    .collapse
        font:
            size: $fs2
        .navbar-nav
        .nav-link
            color: $c1
            &:hover
                color: $c7
        .dropdown-menu
            background-color: $c5
            &:hover
                background-color: $c7
                