// Colors
$c1: #ffffff 
$c2: #111111 
$c3: #222222 
$c4: #222210 
$c5: #999999 
$c6: #16c0f0 // Cyan
$c7: #fcc500 // Yellow
$c8: #ff0000 // Red

// Fonts
$ff1: 'Oleo Script', cursive
$ff2: 'Roboto', sans-serif
$ff3: 'Dancing Script', cursive
$ff4: 'Indie Flower', cursive
$ff5: 'Cookie', cursive

$fs1: 100%
$fs2: 125%
$fs3: 150%
$fs4: 175%
$fs5: 200%
