.social-media {
    padding: var(--spacing-sm) 0;
    display: flex;
    justify-content: center;
    a {
        height: 24px; width: 24px;
        margin: 0 var(--spacing-xs);
        background-color: white;
        border-radius: 50%;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.resume {
    display: flex;
    flex-wrap: wrap;
    div {
        width: 50%;
        @media (max-width:800px) {
            width: 100%;
        }
        &.education ul {
            list-style-type: education;
            span {
                font-size: small;
                opacity: 0.8;
            }
        }
    }
}
.filter { 
    display: flex; align-items: center; justify-content: start;
}
[data-filter] {
    border:none;
    outline: none;
    padding: var(--spacing-sm);
    cursor: pointer;
    margin:var(--spacing-sm);
    background-color: var(--header-color);
}
[data-filter]:not(.active):hover {background-color: var(--button-color);color: var(--button-text-color); opacity: 0.8;}
[data-filter].active {background-color: var(--button-color); color: var(--button-text-color);}

.portfolio {display: flex; flex-wrap: wrap; justify-content: center;}
.portfolio-item {
    height: fit-content; width: 28%; position: relative;
    margin: var(--spacing-sm);
    border: 1px solid var(--border-color); color: inherit;
    @media (max-width:700px) {
        width: 100%;
    }
}
.portfolio-item img {width: 100%;}
.portfolio-item .description {
    position: absolute; background-color: var(--footer-color); width: 100%;
    bottom: 0; padding: 0; margin: 0; display: none;
}
.portfolio-item .description p, .description h3 {margin: 0; padding: 2px 0; text-align: center;}
.portfolio-item:hover {box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.portfolio-item:hover .description {display: block;}

summary {
    cursor: pointer;
    &::marker {
        color: var(--button-color);
    }
    &:hover {
        color: var(--button-color);
    }
}

#articles article, #conferences article {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    margin: var(--spacing-md) 0;
    position: relative;
    &:hover {
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h4 {
        color: var(--link-color);
        margin: 0;
        padding: 0 0 var(--spacing-xs) 0;
        border-bottom: 1px solid var(--border-color);
    }
    p {
        margin: 0;
        padding: var(--spacing-xs);
    }
    img, >a {
        position: absolute;
        right: 5px;
        bottom: 5px;
        cursor: pointer;
    }    
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    .slide {
        display: none;
        animation-name: fade-in;
        animation-duration: 1.5s;
        img {
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
        }
        .caption {
            color: black;
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 10px;
            background-color: rgba(256,256,256,0.5);
            width: calc(100% - 10px);
            margin-left: 5px;
        }
    }
}
.dots {
    text-align:center;
    margin-top: 10px;
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active {
        background-color: #717171;
    }
}